body {
      padding: 0;                /* remove the padding from the body */
      margin: 0;                 /* remove the margin from the body */
      font-family: Arial, Helvetica, sans-serif;  /* set the font family for the body */
}

/*############HEADER############*/

#Header{
      position:fixed;         /* make the header fixed */
      top: 0;            /* position the header at the top */
      left: 0;         /* position the header at the left */
      z-index: 500;         /* set the z-index to 500 */
      width: 100%;         /* set the width of the header to 100% */
      height: 80px;         /* set the height of the header */
      background-image: url(pineCityZooImages/images/wood-bg.png);         /* set the background image of the header */
      background-repeat: repeat-x;        /* repeat the background image horizontally */
}

#Header img {
      display: block;         /* make the image a block element */
      margin: 0 auto;        /* center the image */
      height: 70px;         /* set the height of the image */
      width: auto;          /* set the width of the image to auto */
      padding-top: 5px;    /* add some space above the image */
}

/*############TOP TABS############*/
#tabs-top {
      position: fixed;     /* make the tabs fixed */
      top: 80px;       /* position the tabs below the header */
      left: 0;       /* position the tabs at the left */
      z-index: 500;        /* set the z-index to 500 */
      width: 100%;       /* set the width of the tabs to 100% */
      height: 40px;      /* set the height of the tabs */
      background-color: darkgreen; /* set the background color of the tabs */

}

#tabs-top a {
      float: left;     /* make the links float to the left */
      display: block;  /* make the links block elements */
      width: 33%;     /* set the width of the links to 33% */ 
      height: 35px;     /* set the height of the links */
      font-weight: 700;        /* set the font weight of the links */
      color: rgb(255, 255, 255); /* set the color of the links */
      text-align: center;      /* center the text in the links */
      text-decoration: none;     /* remove the underline from the links */
      padding-top: 12px;        /* add some space above the text in the links */
}

/*############ MAIN-HOME ############*/
#main-home {
      margin-top: 120px ; /* add some space above the main-home section */
}

/*############ Tabs-Bottom ############*/
#tabs-bottom {
      position: fixed;    /* make the tabs fixed */
      bottom: 0;   /* position the tabs at the bottom */
      left: 0;                /* position the tabs at the left */
      z-index: 500;     /* set the z-index to 500 */
      width: 100%;       /* set the width of the tabs to 100% */      
      height: 40px;     /* set the height of the tabs */
      background-color: forestgreen;      /* set the background color of the tabs */
}

#tabs-bottom a {
      float: left;     /* make the links float to the left */
      display: block;  /* make the links block elements */
      width: 50%;     /* set the width of the links to 50% */
      height: 35px;     /* set the height of the links */
      font-weight: 700;        /* set the font weight of the links */
      color: rgb(255, 255, 255); /* set the color of the links */
      text-align: center;      /* center the text in the links */
      text-decoration: none;     /* remove the underline from the links */
      padding-top: 12px;        /* add some space above the text in the links */
}

/*########### Main ############*/

#main {
      margin-top: 119px;      /* add some space above the main section */
      background-image: url(pineCityZooImages/images/map-blur.png); /* set the background image of the main section */
      background-size: cover; /* make the background image cover the entire section */
      background-position: center; /* center the background image */
      background-repeat: no-repeat; /* do not repeat the background image */
      width: 100%;         /* set the width of the main section to 100% */
      min-height: 100vh;   /* ensure the section is at least the height of the viewport */
}

#content {
      padding-top: 1px; /* add some space above the content */
      padding-bottom: 50px;   /* add some space below the content */
}

/*############ Info-Box ############*/

a.info-box {
      text-decoration: none;    /* remove the underline from the links */
      background: rgba(255, 255, 255, 0.8);
      width: 90%;           /* set the width of the info-boxes */
      height: 90px;           /* set the height of the info-boxes */
      display: block;        /* make the info-boxes block elements */
      margin: auto;           /* center the info-boxes */
      margin-top: 12px;      /* add some space above the info-boxes */
      padding: 1px;           /* the gap between the info-boxes */

}   

.info-box img{
      height: 70px;        /* set the height of the images inside the info-boxes */
      margin: 10px;         /* add some space around the images */
      float: left;          /* make the images float to the left */
}
.info-box h3 {
      pedding: 0;          /* remove the padding from the h3 elements */
      margin-bottom: 0;        /* remove the bottom margin from the h3 elements */
      width: 90%;          /* set the width of the h3 elements */
      color: #572800;      /* set the color of the h3 elements */

}
.info-box p {
      padding: 0;          /* remove the padding from the p elements */
      margin: 0;           /* remove the margin from the p elements */
      width: 90%;          /* set the width of the p elements */
      color: #131313;      /* set the color of the p elements */
}

.info-box img.right {
      float: right;         /* make the images float to the right */
      margin-top: 25px;  /* add some space above the images */
      height: 40px;        /* set the height of the images */
}

/*############  Info-Box full ############*/

#info-box-full {
      background: rgba(255, 255, 255, 0.8);
      width: 90%;           /* set the width of the info-boxes */
      height: auto;         /* set the height of the info-boxes to auto */
      display: block;       /* make the info-boxes block elements */
      margin: auto;         /* center the info-boxes */
      margin-top: 12px;    /* add some space above the info-boxes */
      padding: 1px;         /* the gap between the info-boxes */
}
#info-box-full img {
      width: 100%;         /* set the width of the images inside the info-boxes to 100% */
}
#info-box-full h3 {
      text-align: center; /* center the text in the h3 elements */
}

/*############ Weather ############*/

img.info-box-weather-icon {
      width: 30px;         /* set the width of the weather icons */
      height: 30px;        /* set the height of the weather icons */
      margin: 10px;   /* add some space to the right of the weather icons */
      float: left;          /* make the weather icons float to the left */
}

h1.info-box-weather-icon{
     font-size  : 65px; /* set the font size of the weather icon text */
     font-weight: 200; /* set the font weight of the weather icon text */
     padding    : 0; /* remove the padding from the weather icon text */
     margin     : 0; /* remove the margin from the weather icon text */
}

a.info-box-full {
      background: rgba(255, 255, 255, 0.8);
      width: 90%;           /* set the width of the info-boxes */
      height: auto;         /* set the height of the info-boxes to auto */
      display: block;       /* make the info-boxes block elements */
      margin: auto;         /* center the info-boxes */
      margin-top: 12px;    /* add some space above the info-boxes */
      padding: 1px;         /* the gap between the info-boxes */
}

table{
      width: 100%;         /* set the width of the table to 100% */
      height: 100%;        /* set the height of the table to 100% */
}
td {
      border-top: 1px solid #131313; /* add a top border to the table cells */
}

/*############ Form #####*/
input{
      width: 99.5%;
      height: 25px;
      margin : 12px 0;
      border : 1px solid #929292;
}

textarea{
      width: 99.5%;
      height :25px;
      margin : 12px 0;
      border : 1px solid #929292;
}

.button{
      display : block;
      background-color: forestgreen;
      text-decoration : none;
      text-align  : center;
      color       : white;
      font-size   : 16px;
      font-weight : 600;
      margin : 12px 0;
      padding : 8px 0;
}
